STAGING_WEBUI_PORT=3002
STAGING_OPENWEBUI_DATA_DIR=/home/USERNAME/ffc-staging/openwebui-data
STAGING_UPLOADS_DIR=/home/USERNAME/ffc-staging/uploads
STAGING_QDRANT_STORAGE_DIR=/home/USERNAME/ffc-staging/qdrant-storage
STAGING_REDIS_DATA_DIR=/home/USERNAME/ffc-staging/redis-data
STAGING_REPO_DIR=/home/USERNAME/projects/FamilyFinanceChat
