DATA_DIR=/app/backend/data
ENABLE_LOGIN_FORM=true
ENABLE_OLLAMA_API=false
ENABLE_PERSISTENT_CONFIG=true
ENABLE_RAG_WEB_SEARCH=false
ENABLE_SIGNUP=True
ENABLE_STAR_SESSIONS_MIDDLEWARE=true
ENABLE_WEBSOCKET_SUPPORT=true
ENV=staging
OLLAMA_API_BASE_URL=
OLLAMA_BASE_URL=/ollama
OPENAI_API_BASE_URL=https://api.openai.com/v1
OPENAI_API_KEY=REPLACE_ME
QDRANT_PREFER_GRPC=false
QDRANT_URI=http://qdrant-staging:6333
RAG_ALLOWED_FILE_EXTENSIONS=pdf,md,txt,docx
RAG_EMBEDDING_BATCH_SIZE=8
RAG_EMBEDDING_MODEL=text-embedding-3-small
RAG_EMBEDDING_OPENAI_BATCH_SIZE=8
RAG_FILE_MAX_SIZE=50
RAG_OPENAI_API_BASE_URL=https://api.openai.com/v1
RAG_OPENAI_API_KEY=REPLACE_ME
RAG_RELEVANCE_THRESHOLD=0.30
RAG_RERANKING_MODEL=
RAG_TOP_K=5
RAG_TOP_K_RERANKER=3
REDIS_URL=redis://redis-staging:6379/0
VECTOR_DB=qdrant
WEBSOCKET_MANAGER=redis
WEBSOCKET_REDIS_URL=redis://redis-staging:6379/1
WEBUI_BUILD_VERSION=REPLACE_ME
WEBUI_SECRET_KEY=
