body {
  margin: 0;
  font-family: 'Söhne', system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #212121;
}

code {
  font-family: 'Söhne Mono', 'Monaco', 'Cascadia Mono', 'Roboto Mono', monospace;
}